<h2>Update the drone</h2>

<form action="/drones/<%-drone._id%>/edit" method="POST" style="display: flex; flex-direction: column; align-items: flex-start;">
    <label>Name: <input name="name" value="<%-drone.name%>"/></label>
    <label>Propellers: <input name="propellers" value="<%-drone.propellers%>"/></label>
    <label>Max Speed: <input name="maxSpeed" value="<%-drone.maxSpeed%>"/></label>
    <button type="submit">Update Drone</button>
</form>